{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Products</h1>
    {% if(is_granted('ROLE_ADMIN') or is_granted('ROLE_BALIE')) %}
        {{ include('product/adminPages/_indexAdmin.html.twig') }}
    {% else %}
        {{ include('product/userPages/_indexUser.html.twig') }}
    {% endif %}
{% endblock %}
