{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1>Product</h1>
    {% if(is_granted('ROLE_ADMIN') or is_granted('ROLE_BALIE')) %}
        {{ include('product/adminPages/_showAdmin.html.twig') }}
    {% else %}
        {{ include('product/userPages/_showUser.html.twig') }}
    {% endif %}
{% endblock %}
